.agm-container {
  margin-top: 16px;
  padding: 0px;
  text-align: center;
}

agm-map {
  width: 50vw;
  height: 40vh;
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  agm-map {
    width: 100vw;
    height: 50vh;
  }

  .agm-container {
    margin-top: 0px;
  }
}

.review-container {
  border: 2px solid black;
  border-radius: 4px;
  margin: 16px;
}

.review-content {
  border: 2px solid green;
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
}

.stars, .review-user {
  text-align: center;
}

.checked {
  color: orange;
}

.restaurant-name {
  text-align: center;
}
