.container-fluid {
  background-color: #F8EDD6;
  min-height: 100vh;
}

.agm-container {
  margin-top: 16px;
  padding: 0px;
  text-align: center;
}

agm-map {
  width: 50vw;
  height: 40vh;
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  agm-map {
    width: 100vw;
    height: 50vh;
  }

  .agm-container {
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 34px;
  }
}

.review-container {
  background-color: #28303F;
  border: 2px solid #28303F;
  border-radius: 4px;
  margin: 16px;
}

.review-content {
  background-color: #D77C68;
  border: 2px solid #D77C68;
  border-radius: 4px;
  color: #FFF;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
}

.stars, .review-user {
  text-align: center;
}

.checked {
  color: orange;
}

.restaurant-name {
  color: #FFF;
  margin: 8px 0px;
  text-align: center;
}

.review-user {
  color: #FFF;
}

.line-break {
  border: 2px solid #AA9F91;
}

.comment-headline {
  text-align: center;
}

#comment, .submit-button {
  border-radius: 8px;
}

input[type="submit"] {
  margin-left: 8px;
}

.comment-container {
  margin: 16px 0px;
  height: 500px;
  overflow: auto;
}

.user-comments {
  background-color: #AA9F91;
  border-radius: 8px;
  max-width: 100%;
  padding: 16px;
}

.user-name {
  color: #28303F;
}
