<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8" class="agm-container">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker
          *ngFor="let m of markers"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [markerDraggable]="false"
          [openInfoWindow]="true"
          (markerClick)="clickedMarker(infowindow, m)">
          <agm-info-window #infowindow>
            <strong> {{ m.restaurant_name }} </strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-xl-4">
      <h1> {{ review.restaurant_name }} </h1>
      <div *ngFor="let content of review.review_content">
        <div class="image-container">
          <img class="img-fluid" [src]="base64Image" *ngIf="content.images.length > 0">
        </div>
        <p> {{ content.review }} </p>
        <p [innerHTML]="stars | noSanitize" [ngClass]="{'checked': true}"></p>
        <p> Star rating: {{ content.stars }} </p>
        <p> Reviewer: {{ content.reviewer }} </p>
      </div>
    </div>
  </div>
</div>
