<!-- <img src="assets/tokyo-restaurant.jpg"> -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"> RestaurantFive0 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home, fullname]']"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/new-restaurant-review', fullname]"> New Review </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="" (click)="logout()"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" class="agm-container">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker
          *ngFor="let m of markers"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [markerDraggable]="m.draggable"
          [openInfoWindow]="true">
          <agm-info-window>
            <strong> {{ m.label }} </strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-lg-6">
      <h1>Hello </h1> 
    </div>
  </div>

</div>
